@import url(https://fonts.googleapis.com/css?family=VT323);

.back {
    background-image: linear-gradient(#130709, #0b1815);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*centers for images and text*/
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
.center {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 25%;
    border: none;
    padding: 10px;
}

/*text style*/
.neibolttxt {
    color: #81460e;
    font-family: 'VT323', monospace ;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 2px 2px #6b2f15;
}

/*custom ridges for the boxes around the text in order to have the shadow of the ridge be prettier instead of shaded with black*/
.custom-ridge {
    position: relative;
    padding: 35px;
    background-color: #070000; /* Background inside the box */
    border: 3px solid #a46c0e; /* Base border color */
    box-shadow: inset 3px 3px #81460e, inset -3px -3px #6b2f15; /* Ridge effect */
  }
  
  .custom-ridge::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 4px solid #a46c0e; /* Adjust to match the ridge effect */
    box-shadow: inset 5px 5px #81460e, inset -5px -5px #6b2f15; /* Light (left) and dark shading (right) */
    z-index: -1; /* Behind the element */
  }

/*buttons*/
.enterbtn {
    color: #81460e;
    font-family: 'VT323', monospace ;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 2px 2px #6b2f15;
    padding: 25px 50px;
    transition: .5s;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
  
.enterbtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}